.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.short-container{
  position:relative;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; /* 垂直居中 */
  background-color: rgb(241, 243, 243);
}
.product-container{
  position:relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  
  background-color: rgb(241, 243, 243);
}
.textbold{
  font-size: 20px;
  font-weight: 600;
  color: crimson;
}
.tag{
  display: flex;
  flex-direction: row;
}
/* .image{
  margin-left: 50px;
}
.ant-image-mask{
  margin-left: 50px;
} */
.video-slide{
  display: flex;
  
  width: 500px;
  height: 600px;
  margin-left: 100px;
  margin-right: 180px;
}
.link{
  display: 'flex';
  flex-Direction:row; 
  align-Items: 'center';
}
.product-title{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 50px;
  font-size: 18px;
}
.title{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  font-size: 18px;
}
.view-more{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 100px;
}
.carousel{
  margin-left: 250px;
  margin-right: 250px;
}
.prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header-container{
  
  display: flex;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-top: 10px;
  background-color: rgb(241, 243, 243);
}
.ant-button{
  color: #282c34;
}